@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Roboto Slab';
    src: url('./fonts/RobotoSlab.ttf') format('truetype');   
}

* {
    font-family: 'Roboto Slab', sans-serif;
    font-display: swap;
}